@import './css/scoreboard.css';
@import './css/choice-buttons.css';
@import './css/display-choice.css';
@import './css/game.css';
@import './css/rules-reset.css';
@import './css/modal.css';
@import './css/bounce.css';


body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a4933;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Homepage title */
.title {
  text-shadow: 1px 3px 1px black;
}
